@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Merge field PDF</h1>
    <p class="lead">Upload your pdf template file and website will merge field with value from 1 to n.</p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Upload your file</h2>
        <form action="" method="post" enctype="multipart/form-data">

            <label for="file">Filename:</label>
            <input type="file" name="file" id="file" />

            <input type="submit" />
        </form>
    </div>
</div>